<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/head') %>

    <title>Document</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <div class="container">
    <h1>Login Form</h1>
  
    <form method="POST" action="/user/login">

      <% if (locals.error) { %>
        <div class="alert alert-danger" role="alert">
          <%= locals.error %>
        </div>
      <% } %>
        
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
      
        <button type="submit" class="btn btn-success">Login</button>
      </form>

      
        


    </div>
    <%- include("./partials/scripts") %>
  </body>
</html>
